.wrapper {
    display: flex;
    
}
.left-container {
    background-color: #7094E9;
    flex: 1;
    height: 100vh;
    border-radius: 0px;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
.right-container {
    flex: 1.1;
}
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    p {
        margin: 20px;
        color: white;
        font-size: 1.3em;
    }

    h1 {
        font-size: 3.5em;
        color: white;
    }

    button {
        background-color: #7094E9;
        border: none;
        border: 2px white solid;
        padding: 15px 60px;
        color: white;
        font-weight: bolder;
    }
}
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       height: 100vh;
       
       input,p,button {
        margin: 10px;
       }

       input {
        background-color: #EFEFEF;
        border: none;
        width: 25vw;
        height: 6vh;
        font-size: 1em;
        padding: 10px;
       
      
        border-radius: 20px;
     

        
       }

       button {
        width: 25vw;
        height: 6vh;
        background-color: #7094E9;
        color: white;
        font-weight: bold;
        border:  none;
    }
    }

    .input1 {
        background: url(./icons/user.png) no-repeat 7px 20px;
        background-size: 20px;
        background-position: 95% 50%;
        background-color: #EFEFEF;
    }
    .input2 {
        background: url(./icons/padlock.png) no-repeat 7px 20px;
        background-size: 20px;
        background-position: 95% 50%;
        background-color: #EFEFEF;
    }
    .input3 {
        background: url(./icons/email.png) no-repeat 7px 20px;
        background-size: 20px;
        background-position: 95% 50%;
        background-color: #EFEFEF;
    }


  @media only screen and (max-width: 600px) {
    .wrapper {
        display: block;
    }

    .left-container, .right-container {
        width: 100vw;
    }

    .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 0px;
        height: 100vw;
    }

    .input1, .input2, .input3 {
        width: 80vw;
    }

    .right-container button {
        width: 80vw;
    }
}
